html, body {
  margin: 0;
  padding: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
/*Keep main ruleset on the top section
*/


.nav li { 
  display: inline;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  height: 800px;
  background: url(http://s16.postimg.org/cf99qeufp/pinkmoon.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #CC297A;
}
.jumbotron .container .main {


}

.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  color: #CC297A;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 3em;
  letter-spacing: .02em;
  padding: 1em 1em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50%;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
  background: #2E0013;
  border-width: 1em;
  border-color: #333333;
    color: #991F5C;
    
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #991F5C;
}
.supporting .col a { 
	border-style: ridge;
  background: #333333;
	width: 2em;
  height:1.25em;
  color: white;
    color: #991F5C;
  
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
    font-color: #FFFFFF;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
    font-color: #FFFFFF;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }
  .supporting .col {
    width: 100%;
  }
}